.project-background {
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}

.projects-header h1 {
    color: red;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 5vw;
    text-shadow: 8px 4px black;
    margin-top: 4%;
}

.in-between {
    background-image: url('../../Images/moving-background.gif');
    height: 60px;
}

.projects-card {
    margin-top: 5%;
}

.projects-card hr {
    margin-bottom: 20px;
}

.projects-info p {
    margin: 3% 6%;
    font-size: 1.4vw;
    font-family: 'Signika Negative', sans-serif;
    color: rgba(6, 207, 6, 0.877);
}

.app-link {
    display: inline-block;
    font-size: 1.3vw;
    color: rgba(4, 167, 4, 0.877);
    text-align: center;
}

.projects-info a {
    font-size: 1.2vw;
    margin-left: 1%;
}

#side-note {
    font-size: 1.1vw;
    margin-top: 4%;
}

.projects-card img {
    width: 50%;
}

#breaking-bricks-header {
    font-family: 'Press Start 2P';
    margin: 5% 3% 0 3%;
    color: rgb(248, 13, 13);
    font-weight: 600;
    font-size: 3.2vw;
}

#leisurely-slackers-header {
    font-family: 'Pacifico', cursive;
    color: blue;
    margin-top: 5%;
    font-size: 3.6vw;
    padding-top: 20px;
}

#nutri-gainz-header {
    font-family: Lato,'Helvetica Neue', sans-serif;
    font-style: italic;
    color: orange;
    font-weight: 600;
    font-size: 3.6vw;
    padding-top: 20px;
}

#lifters-paradise-header {
    font-family: 'Shojumaru', cursive;
    color: rgba(4, 150, 235, 0.945);
    font-size: 3.6vw;
    padding-top: 20px;
}

#fitness-blog {
    color: rgb(13, 224, 13);
    font-weight: 600;
    text-shadow: 1px 1px red;
    font-size: 3.6vw;
    padding-top: 20px;
}

#tic-tac-toe {
    font-family: 'Rye', cursive;
    color: rgb(177, 14, 226);
    text-shadow: 1px 1px white;
    font-weight: 600;
    font-size: 3.6vw;
    padding-top: 20px;
}

#high-card-wins {
    color: white;
    font-size: 3.6vw;
    padding-top: 20px;
}


@media screen and (max-width: 900px) {
    .projects-header h1 {
        font-size: 6vw;
    }

    .projects-card img {
        width: 70%;
    }

    .in-between {
        height: 50px;
    }

    .projects-card hr {
        box-shadow: 2px 2px 5px 3px rgba(255, 21, 0, 0.897);
    }

    .projects-info p {
        font-size: 1.9vw;
    }
    
    .app-link {
        font-size: 1.8vw;
    }
    
    .projects-info a {
        font-size: 1.7vw;
    }
    
    #side-note {
        font-size: 1.6vw;
    }

    #breaking-bricks-header {
        font-size: 4vw;
    }
    
    #leisurely-slackers-header, #nutri-gainz-header,  #lifters-paradise-header, #fitness-blog, #tic-tac-toe,#high-card-wins {
        font-size: 4.4vw;
    }
}


