.home-page {
    height: 100vh;
    background-image: url('../../Images/city-code.png');
    background-size: cover;
    border: 1px solid black;
}

.home-page h1 {
    padding-top: 3%;
    font-family: 'Orbitron', sans-serif;
    color: rgba(6, 207, 6, 0.877);
    font-size: 6vw;
}

.home-page img {
    margin-top: 10%;
}

@media screen and (max-width: 1100px) {
    .home-page {
        background-image: url('../../Images/city-code-medium.png');
        background-size: 100% 100%;
    }
    
    .home-page h1 {
        margin-top: 4%;
        font-size: 7vw;
    }
}

@media screen and (max-width: 600px) {
    .home-page {
        background-image: url('../../Images/city-code-small.png');
        background-size: 100% 100%;
    }

    .home-page h1 {
        margin-top: 12%;
        font-size: 9vw;
    }
}