.side-drawer {
    height: 100%;
    width: 120px;
    position: fixed;
    background-color: black;
    overflow-x: hidden;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.8s ease-out;
} 

.side-drawer.slide-action {
    transform: translateX(0);
}

.hamburger, .x {
    position: absolute;
    cursor: pointer;
    margin-left: 22px;
    margin-top: 7px;
    z-index: 3;
}

.hamburger span, .x span {
    position: relative;
    width: 39px;
    height: 5px;
    background: red;
    display: block;
    margin: 6px;
    transition: 0.8s;
}

.hamburger {
    transform: translateX(0);
    transition: 0.8s;
}

.x {
    transform: translateX(110px);
    transition: 0.8s;
}

.x span:nth-child(1) {
    transform: rotate(315deg);
    top: 10px;
    transition: 0.8s;
    background: rgba(233, 38, 20, 0.897);
}

.x span:nth-child(2) {
    transform: rotate(-315deg);
    bottom: 1px;
    transition: 0.8s;
    background: rgba(233, 38, 20, 0.897);
}

.x span:nth-child(3) {
    transform: scaleX(0) rotate(90deg);
    transition: 0.8s;
    background-color: black;
    background: rgba(233, 38, 20, 0.897);
}

.fa-home, .fa-user, .fa-eye, .fa-address-book {
    font-size: 1.9em;
    color: rgba(233, 38, 20, 0.897);
    position: relative;
    margin-top: 20px;
}

.fa-home:hover, .fa-user:hover, .fa-eye:hover, .fa-address-book:hover {
    transform: scale(1.2);
    color: white;
}

h6 {
    color: white;
    text-shadow: 1px 1px rgba(209, 165, 165, 0.644);
    position: relative;
    margin-top: 1%;
}

#logo-image {
    width: 125px;
    margin-top: 8%;
}

.nav-links { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    width: 100%;
    position: relative;
    right: 20px;
    top: 10px;
}

.icon-badge {
    text-align: center;
    margin-top: 7%;
}

@media screen and (max-width: 900px) {
    .side-drawer {
        width: 105px;
    } 

    #logo-image {
        width: 105px;
    }

    h6 {
        font-size: 0.8em;
    }

    .icon-badge h4 {
        font-size: 1.4em;
    }

}

@media screen and (max-width: 700px) {
    .side-drawer {
        height: 75px;
        width: 100vw;
        transform: translateY(-100%);
        transition: transform 0.8s ease-out;
    } 
    
    #logo-image {
        position: absolute;
        width: 95px;
        height: 59px;
        margin-top: 1%;
    }
    
    .side-drawer.slide-action {
        transform: translateY(-67%);
    }

    .hamburger, .x {
        position: absolute;
        cursor: pointer;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    .x {
        transform: translateY(30px);
        transition: 0.8s;
    }
    
    .fa-home, .fa-user, .fa-eye, .fa-address-book {
        font-size: 1.3em;
        margin-top: 9px;
    }

    .nav-links { 
        flex-direction: row;
        justify-content: flex-end;
        right: 0;
        top: 4px;
    }
    
    .icon-badge {
        text-align: center;
        margin-top: 0;
        margin-right: 5%;
    }
}