.rest {
  text-align: center;
  height: 99.5vh;
  overflow-x: hidden;
  transition: 0.8s;
}

.rest.shift-page {
  margin-left: 120px;
  transition: 0.8s;
}

.App {
  border-bottom: 10px solid rgba(0, 0, 0, 0.877);
}


@media screen and (max-width: 900px) {
  .rest.shift-page {
    margin-left: 105px;
  }
}

@media screen and (max-width: 700px) {
  .rest.shift-page {
      margin-top: 50px;
      margin-left: 0;
      transition: 0.8s;
  }
}

@media screen and (max-width: 450px) {
  .rest.shift-page {
      margin-top: 40px;
      margin-left: 0;
      transition: 0.8s;
  }
}
