.about-me-page {
    background-color: black;
}

#about-image {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 500px;
    height: 60vh;
    background-image: url("../../Images/me.png");
    background-size: cover;
    background-position: center;
}

.whole-image {
    margin-top: 7%;
    margin-left: 2%;
    display: inline-block;
    position: relative;
}

.about-me-info {
    margin: 0 7%;
    width: 47%;
}

.about-me-page h1 {
    font-size: 4vw;
    font-weight: 500;
    font-family: 'Audiowide', cursive;
    color: white;
    text-shadow: 2px 2px rgba(243, 30, 10, 0.897);
    margin-top: 9%;
}

.experiences h1 {
    margin-top: 17%;
}
.skills h1 {
    margin-top: 0;
}

hr {
    height: 4px;
    background-color: rgb(90, 0, 0);
    box-shadow: 3px 2px 8px 4px rgba(255, 21, 0, 0.897);
    width: 80%;
    margin-bottom: 35px;
}

.about-me-page p {
    font-size: 1.5vw;
    line-height: 1.3em;
    font-family: 'Kurale', serif;
    font-weight: 600;
    line-height: 1.6em;
    color: rgba(6, 207, 6, 0.877);
}

.skills-experiences {
    display: flex;
    justify-content: space-between;
}

.skills {
    margin-left: 5%;
}

.experiences li {
    text-align: left;
    color: rgba(6, 207, 6, 0.877);
}

.experiences {
    margin: 0 5%;
}

.align-left-title {
    text-align: left;
}

.image-about {
    display: flex;
    margin-left: 5%;
    height: 590px;
    justify-content: space-between;
}

.skills-education {
    flex: 1;
    margin-left: 5%;
    margin-top: 8%;
}

.education {
    margin: 8% 0 12% 4%;
}

#list-of-skills {
    display: flex;
}

#skills-left, #skills-middle, #skills-right {
    flex: 1;
    text-align: left;
}

.education h6 {
    text-align: left;
    color: black;
    font-weight: 300;
    color: rgba(6, 207, 6, 0.877);
}

.education-type {
    margin-bottom: 0;
}


@media screen and (max-width: 1200px) {
    .about-me-page {
        background-color: white;
    }
}

@media screen and (max-width: 600px) {

}